#outerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: #EDEDED;
}

#container {
  width: 90%;
  text-align: center;
}

#header {
  color: #5076ff;
}

#tableContainer {
  width: 100%;
  margin-top: 4rem;
}

#tableHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #5076ff;
  color: #fff;
  border-radius: 0.7rem;
}

#tableHeader > p {
  /* margin-left: 0.5rem; */
  width: 150px;
  padding: 0 1rem;
  font-weight: bold;
}

#tableBody {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
}

#tableBody:nth-child(odd) {
  background-color: #B3C4FF;
}

#tableBody > p {
  align-items: center;
  text-align: center;
  width: 150px;
  padding: 0 1rem;
  color: black;
  font-weight: bold;
}

#icons {
  margin-left: 2rem;
  width: 150px;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}